:root {
  --accent-text: #6200ee;
  --primary-text: rgba(0, 0, 0, 0.87);
  --secondary-text: rgba(0, 0, 0, 0.6);
  --disabled-text: rgba(0, 0, 0, 0.38);
  --primary-background: #fff;
  --divider-background: rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-text: #bb86fc;
    --primary-text: #fff;
    --secondary-text: rgba(255, 255, 255, 0.7);
    --error-disabled: rgba(255, 255, 255, 0.5);
    --primary-background: #121212;
    --divider-background: rgba(255, 255, 255, 0.12);
  }
}

body {
  color: var(--primary-text);
  background-color: var(--primary-background);
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

main {
  background: var(--divider-background);
  border-radius: 30px;
  padding: 20px;
}

.header-text {
  font-family: "Creepster", cursive;
  font-size: 90px;
  text-align: center;
}

.signed-by-text {
  font-family: "Creepster", cursive;
  font-size: 46px;
  text-align: center;
  color: var(--primary-text);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--accent-text);
}
a {
  color: var(--accent-text);
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
