---
import "../styles/global.css";
const siteTitle = "404 Not Found";
const description =
  "CodeCreep is the creator of the Creep multiverse. Software Developer. Creator. Media Agency";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="/placeholder-social.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@thecodecreep" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/placeholder-social.jpg" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />
  </head>
  <body class="h-screen bg-black">
    <main>
      <div
        class="flex h-screen w-full flex-col items-center justify-center p-4 text-creep">
        <a href="/" aria-label="return to the home page" class="hover:text-white">
          <h1 class="font-alagard text-5xl font-bold cursor-pointer">Error: 404 Not Found</h1>
        </a>
      </div>
    </main>
  </body>
</html>
