---
import "../styles/global.css";
import Layout from "../layouts/layout.astro";
const title = "CodeCreep - About";
const description =
  "CodeCreep is the creator of the Creep multiverse. Software Developer. Creator. Media Agency";
---

<Layout title={title} description={description}>
  <article>
    <h1 class="text-center font-alagard">About</h1>
    <p>
      Hello! My name is Matt. I am a software developer who is still pretty new
      to the game. The idea behind CodeCreep is to have a space where I can
      learn new things and document my journey and progression as a developer.
    </p>
    <p>
      You can probably tell that this site is very much in it's early phase and
      should still be considered as under construction.
    </p>
    <p>
      If you have any questions or suggestions please get in touch with me as I
      would love to hear what you think!
    </p>
  </article>
</Layout>
