---
import "../styles/global.css";
import Layout from "../layouts/layout.astro";
const title = "CodeCreep - Blog";
const description =
  "Interested in coding? Take a look. Tech articles. Reviews. Recommendations.";
---

<Layout title={title} description={description}>
  <article class="prose dark:prose-invert">
    <h1>Blog</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas labore totam tenetur eos vel debitis et! Est ipsam, voluptates cumque alias officia sunt consectetur. Tenetur praesentium enim aliquid rerum eaque.
        Rerum, aliquid tempore et distinctio culpa reprehenderit nobis vitae id voluptatibus rem veritatis fugiat. Qui laborum, dolore enim itaque, nemo fuga eos atque, harum minus aliquam nam obcaecati impedit hic.
    </p>
  </article>
</Layout>
