---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Salutations,</h1>
      <p>
        Welcome to the Codecreep. This site is currently under construction so
        please be patient. In-time we'll have a lightweight, minimally-styled
        hub for my personal website, blog, resume and a bunch of projects.
        Hopefully.
      </p>
      <p>
        Forever watching,
      </p>
      <a class="signed-by-text" href="https://twitter.com/thecodecreep"
        >Codecreep</a
      >
    </main>
    <Footer />
  </body>
</html>
