---
import "../styles/global.css";
import Layout from "../layouts/layout.astro";
const title = "CodeCreep";
const description =
  "CodeCreep";
---

<Layout title={title} description={description}>
  <article class="prose dark:prose-invert">
    <h1 class='font-alagard text-center'>...Who are you? Who sent you? You should not be here to see this. Not yet, at least. Please come back another day!</h1>
  </article>
</Layout>
