---
import "../styles/global.css";
import Layout from "../layouts/layout.astro";
const title = "CodeCreep - Projects";
const description =
  "Looking for inspiration? Take a look at some projects that I have worked on.";
---

<Layout title={title} description={description}>
  <article>
    <h1 class="text-center font-alagard">Projects</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ex eaque.
      Odio eos dolores illo voluptas quis! Cumque, quod libero minima quas magni
      officia soluta aut nemo doloribus sapiente culpa. Itaque voluptate porro
      magni doloremque tenetur. Odio, eaque quasi! Ullam vel iste similique
      dolores odio velit mollitia autem officiis architecto omnis ipsa ducimus
      excepturi harum, eligendi sunt debitis. Ea, quam? Error, quaerat. Quo
      perspiciatis asperiores porro voluptatem, sed amet ab consequatur minus
      officia hic sequi ex numquam sunt veritatis deleniti. Eveniet, hic! Esse
      laborum assumenda id dolorem odio sunt optio! Perspiciatis, officiis quos
      nihil eaque impedit optio perferendis eius facilis a quae inventore libero
      necessitatibus consequuntur quidem quo error sunt delectus? Nam enim non
      voluptatibus esse? Laborum nesciunt deserunt eum. Minus, itaque?
      Temporibus a molestias sunt recusandae sed dolorum quam in deleniti
      assumenda fuga, mollitia, iste aperiam, est vel ab ea repellat numquam
      omnis nihil itaque officia placeat alias dolorem!
    </p>
  </article>
</Layout>
