---
import "../styles/global.css";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="/placeholder-social.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@thecodecreep" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/placeholder-social.jpg" />
    <title>{title}</title>
    <meta name="theme-color" content="#000000" />
  </head>
  <body class="h-screen bg-black">
    <main>
      <div
        class="align-left flex h-screen w-full flex-col items-center justify-center p-4 text-creep"
      >
        <div
          class="align-left flex flex-row gap-4 px-4 py-4 text-left md:py-0 md:text-left"
        >
          <a href="/about" aria-label="learn more about codecreep" class="text-xl hover:text-white">
            About
          </a>
          <a href="/blog" aria-label="visit codecreeps blog" class="text-xl hover:text-white">
            Blog
          </a>
          <a href="/projects" aria-label="see what codecreep has bee working on" class="text-xl hover:text-white">
            Projects
          </a>
          <a href="/linktree" aria-label="codecreeps social links and more" class="text-xl hover:text-white">
            Linktree
          </a>
        </div>
        <article>
          <slot />
        </article>
        <div class="absolute bottom-0 flex h-16 gap-6 p-4 text-creep">
          <a
            href="https://youtube.com/thecodecreep"
            class="flex gap-2 align-baseline text-xl hover:text-white"
            aria-label="visit codecreeps YouTube page"
          >
            Youtube
          </a>

          <a
            href="https://twitter.com/thecodecreep"
            class="flex gap-2 align-baseline text-xl hover:text-white"
            aria-label="visit codecreeps Twitter feed"
          >
            Twitter
          </a>

          <a
            href="https://twitch.tv/thecodecreep"
            class="flex gap-2 align-baseline text-xl hover:text-white"
            aria-label="visit codecreeps Twitch stream"
          >
            Twitch
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
